<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FaceMeet</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="
      height: 100vh;
      width: 100vw;
      background-color: #101820ff;
      color: #f5f1ed;
    "
    class="my-auto d-flex"
  >
    <h1 class="w-100 text-center my-auto">
      <b>Thank you for using FaceMeet</b>
    </h1>
  </body>
</html>
