/* root */
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
div {
  padding: 0 !important;
}
p {
  margin-bottom: 0 !important;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #101820ff !important;
}
.row {
  margin: 0 !important;
}
.btn {
  border-radius: 0 !important;
}
.form-group {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* navbar */
nav {
  background-color: transparent !important;
  padding: 8px 0px !important;
}
/* nav-buttons */
.main__controls__button {
  background-color: #f5f1ed;
  min-width: 70px;
  cursor: pointer;
  border-radius: 3px;
}
.main__controls__button i {
  font-size: 20px;
  padding: 7px 0 0 0;
}
.main__controls__button:hover {
  background-color: #bdbbb9;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  transition: 0.2s cubic-bezier(1, 0, 0, 1);
}

/* left side video and grid */
video {
  height: 260px;
  object-fit: contain;
  border-radius: 2px;
  border: 2px solid #f5f1ed;
  margin: 10px;
}
#video-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  min-height: 100vh;
}

/* right side chat box */
.main__right {
  display: flex;
  flex-direction: column;
  background-color: #101820ff;
  height: 100vh !important;
  border: solid 1px #f5f1ed;
}
.main__header {
  text-align: center;
  width: 95%;
}
.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 88vh;
  min-height: 88vh;
}
.chat-header {
  background-color: #f5f1ed !important;
  color: #101820ff !important;
  border-radius: 2px;
}

.main__message_container input {
  border: none;
  background-color: #f5f1ed;
}
.messages {
  color: white;
  list-style: none;
  text-align: left;
  padding-top: 1vh;
  padding-left: 2vw;
  word-wrap: break-word;
}

.message-content {
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-bottom: 2vh;
}

#chat_message {
  width: 95%;
}
#chat_message:focus {
  outline: none;
}
